.sticker {
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  left: var(--position-x);
  position: absolute;
  top: var(--position-y);
  transform: var(--translate);
}

.icon {
  color: orange;
  height: 60px;
  position: relative;
  transform: var(--sticker-rotate);
  width: 60px;
}

.card {
  background-color: white;
  border-radius: 12px;
  height: 150px;
  left: 70px;
  padding: 12px;
  position: absolute;
  top: 0px;
  width: 300px;
}

.cardBottom {
  top: unset;
  bottom: 0px;
}

.cardRight {
  left: unset;
  right: 70px;
}
