* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: #959595;
  background-image: url("data:image/svg+xml,%3Csvg width='3' height='3' viewBox='0 0 3 3' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237c7c7c' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 4em;
  padding-bottom: 0px;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  height: 8em;
  width: 100%;
  padding: 1em;
}

.note {
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 16px;
  left: var(--note-x-left);
  right: var(--note-x-right);
  top: var(--note-y-top);
  bottom: var(--note-y-bottom);
  position: fixed;
  transform: rotate(var(--note-rotation));
}
